<h1>映画一覧</h1>

<h2>映画検索</h2>
<%= search_form_for @q, url: search_path do |f| %>
  <%= f.search_field :name_or_description_cont %>
  <%= f.radio_button :is_showing_eq, '', {:checked => true} %>すべて
  <%= f.radio_button :is_showing_eq, true %>上映中
  <%= f.radio_button :is_showing_eq, false %>上映予定
  <%= f.submit '検索' %>
<% end %>

<div class="movie_box">
  <% @results.each do |movie| %>
    <ul class="movie_item">
      <%= image_tag movie.image_url, size: '280x280' %>
      <li><%= movie.name %></li>
      <li><%= movie.year %></li>
      <li><%= movie.description %></li>
    </ul>
  <% end %>
</div>
